body {
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    margin: auto;
    background-color: #a0a0a0;
    text-align: center;
    height: 100vh;
}

h1 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 50px;
}

.word-number {
    font-size: 15px;
    border-radius: 5px;
    width: 35px;
}

.password-display {
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    padding: 20px;
    min-height: 39px;
    height:auto;
    width: 450px;
    text-align: center;
    margin: 0 auto;
    margin-top: 10%;
    margin-bottom: 5%;
    font-size: 25px;
    font-weight: bold;
    box-shadow: 0 5px 15px rgb(49, 49, 49);
    display: flex;
    align-items: center;
    justify-content: center;
}
button {
    cursor: pointer;
    border-radius: 8px;
    padding: 8px;
    border-style: solid;
    border-color: rgb(95, 95, 95);
    font-size: 25px;
    font-weight: bold;
    background-color: rgb(219, 219, 219);
}