body {
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    margin: auto;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.685);
    transition: background-color 2s;
    
}

h1 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 50px;
}

.word-number {
    font-size: 15px;
    border-radius: 5px;
    text-align: center;
    margin-right: 20px;
}

.password-display {
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    padding: 20px;
    min-height: 39px;
    height:auto;
    min-width: 450px;
    text-align: center;
    margin: 0 auto;
    margin-top: 10%;
    margin-bottom: 5%;
    font-size: 25px;
    font-weight: bold;
    box-shadow: 0 5px 15px rgb(49, 49, 49);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-wrap: anywhere;
}

button {
    cursor: pointer;
    border-radius: 8px;
    padding: 8px;
    border-style: solid;
    border-color: rgb(95, 95, 95);
    font-size: 25px;
    font-weight: bold;
    background-color: rgb(255, 255, 255);
}

button:hover {
    background-color: rgb(189, 189, 189);
    
}

button:active {
    box-shadow: inset 0px 0px 7px 0px black;
}

#userCustomSeparator {
    font-size: 15px;
    border-radius: 5px;
    width: 10px;
    text-align: center;
}

#separatorCheckbox {
    margin-left: 20px;
}

#pagecolorFooter {
    position: fixed;
    text-align: center;
    bottom: 0px;
    width: 100%;
    margin-bottom: 20px;
}